/*
colors used:
primary color:
secondary color:
*/


body {
    background-color: lightgray;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1,6;
    color: #000000;
}

h1, h2, h3, h4, {
    line-height: 1,4
}

h1 {
    font-size: 2.75em;
    font-weight: 400;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 400;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 300;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 300;
  }

  img {
    width: 100%;
  }


  a {
    color: #26596A;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: #FF7A00;
    text-decoration: underline;
  }
  
  a:visited {
    color: #485154;
  }
  a:active {
    color: #277455;
  }

  .button {
    display: inline-block; 
    background-color: #FF7A00;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #434343;
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  .button:active {
    color: #277455
  }

  .button.contact {
    background-color: transparent;
    color: #FF7A00;
    text-transform: uppercase;
    border: 2px solid #FF7A00;
  }

  .button.contact:hover {
    background-color: #FF7A00;
    color: #ffffff;
  }
